[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-registration = "==3.3"
django-bootstrap-v5 = "*"
django-location-field = "*"
django-location = "*"
cloudinary = "*"
django-columns = "*"
django-tinymce = "*"
django-crispy-forms = "*"
django-bootstrap4 = "*"
djangorestframework = "*"
django-heroku = "*"
dj-database-url = "*"
python-decouple = "*"
pillow = "*"
whitenoise = "*"
psycopg2 = "*"
pytz = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.8"
