.featured{
transition: transform .2s;
}
.featured:hover{
transform: scale(1.5);
}
.zoom{
transition: transform .4s;
}
.zoom:hover{
transform: scale(0.8);
}

@media screen and (max-width: 820px) {
.row-featured {display: none;}
}
@media screen and (min-width: 700px) and (max-width: 1000px) {
#profile-post {height: 400px;}
}
@media screen and (min-width: 300px) {
.prof {background-repeat:repeat;}
}