{%load static%}
<a class="navbar-brand" href="/">
    <img src="{%static 'photos/stars-1976108_640.png'%}" alt="" width="40" height="36" style="background-color:brown;border-radius:50%;margin-top:0.25%;margin-left:1.5%;">
    shaReview
</a>
{%if user.is_authenticated%}
<ul class="nav justify-content-center sticky-top nav-tabs">
  <li class="nav-item">
    <a class="nav-link" aria-current="page" href="/" style="border-style:ridge;">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{%url 'new-project'%}" style="border-style:groove;">Upload project</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{%url 'profile' user.id%}" style="border-style:groove;">Profile</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{%url 'logout'%}" style="border-style:groove;">Logout</a>
  </li>
</ul>
{%else%}
<ul class="nav justify-content-center sticky-top nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" href="/accounts/login/">Login</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/accounts/register/">Register</a>
  </li>
</ul>
{%endif%}