@import url('https://fonts.googleapis.com/css2?family=Fascinate&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fascinate+Inline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Skranji:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Faster+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amarante&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap');

h1{
font-size:54px;
}
h1,h2,.nav-tit,.nav-it{
font-family: 'Fascinate';
}
h2{
font-size:40px;
}
.navbar-brand{
font-family: 'Fascinate Inline';
font-size:30px;
}
.nav-tit{
font-size:25px;
}
.nav-it-prof{
font-family: 'Faster One';
}
.nav-it,.nav-it-prof{
font-size:20px;
}
h3,h4,thead{
font-family:'Skranji';
}
h5,h6,form{
font-family: 'Potta One';
}
p,tbody,li{
font-family: 'Amarante';
}
small,input{
font-family: 'Kalam';
}
.featured{
transition: transform .2s;
}
.featured:hover{
transform: scale(1.5);
}
.zoom{
transition: transform .4s;
}
.zoom:hover{
transform: scale(0.8);
}
.zee{
transition: transform .4s;
}
.zee:hover{
transform: scale(1.0555);
}

@media screen and (max-width: 820px) {
.row-featured {display: none;}
}
@media screen and (min-width: 700px) and (max-width: 1000px) {
#profile-post {height: 400px;}
}
@media screen and (min-width: 300px) {
.prof {background-repeat:repeat;}
}